.article {
    padding: 60px 15px 45px 15px;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__icon-box {
        padding: 25px 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        background-color: $brandColorLightgrey;
        border-radius: $borderRadiusDefault;
    }
    &__title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $brandColorGrey;
    }
}

/* ---------- RESPONSIVE TABLET ---------- */

@media screen and (min-width: $breakpointTabletStart) and (max-width: $breakpointTabletEnd) {
    .article {
        padding-bottom: 45px;
    }
    .article__title {
        text-align: left;
    }

    .article__list {
        flex-basis: calc((100vw - 30px) / 2);
    }
}

/* ---------- END RESPONSIVE TABLET ---------- */

/* ---------- RESPONSIVE DESKTOP ---------- */

@media screen and (min-width: $breakpointDesktopStart) {
    .article {
        padding-top: 94px;
    }

    .article__list {
        flex-wrap: nowrap;
    }

    .article__title {
        text-align: left;
    }
}

/* ---------- END RESPONSIVE DESKTOP ---------- */
