.clients {
    padding: 60px 15px;
    text-align: center;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item {
        flex-basis: calc((100% - 30px) / 2);
    }
    &__icon-space {
        display: block;
        padding: 13px;
        border: 1px solid $iconsInactive;
        border-radius: $borderRadiusDefault;
        color: $iconsInactive;
        transition: border $transitionSet;
        justify-content: center;
        align-items: center;

        transition: border $transitionSet;
        &:hover,
        &:focus {
            border: 1px solid $brandColorBlue;
            color: $brandColorBlue;
        }
    }

    &__icon-svg {
        --color2: currentColor;
        --color3: currentColor;
        fill: currentColor;
        transition: color $transitionSet;
    }
}
@media (width <= 327px) {
    .clients__list {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: $breakpointTabletStart) and (max-width: $breakpointTabletEnd) {
    .clients__item {
        flex-basis: calc((100% - 60px) / 3);
    }
}

/* ---------- END RESPONSIVE TABLET ---------- */

/* ---------- RESPONSIVE DESKTOP ---------- */

@media screen and (min-width: $breakpointDesktopStart) {
    .clients {
        padding-top: 94px;
    }

    .clients__list {
        flex-wrap: nowrap;
    }

    .clients__item {
        flex-basis: auto;
    }
    .clients__icon-space {
        padding: 13px 32px;
    }
}

/* ---------- END RESPONSIVE DESKTOP ---------- */
