.footer {
    padding: 60px 0;
    background-color: $brandColorDark;
    // gap: 70px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__box {
        margin-bottom: 60px;
    }
    &__address {
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        letter-spacing: 0.03em;
        color: $brandColorWhite;
        margin-top: 20px; //-tu nie jestem pewna//
    }
    &__address-list {
        padding-left: 0px;
        padding-top: 20px;
    }
    &__contact-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $brandColorGrey;
        margin-top: 9px;
    }

    &__joinus-box {
        margin-left: 0;
        margin-bottom: 60px;
    }

    &__joinus-heading {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: $brandColorWhite;
        font-size: 14px;
    }

    &__social-icon {
        background-color: $footerSocialIconBg;
        border-radius: 50%;
        fill: $brandColorWhite;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}
