.offer {
    display: none;
    text-align: center;
    // justify-content: center;
    // gap: 30px;
    // padding-top: 50px;
    &__item {
        position: relative;
    }

    &__img {
        display: block;
    }

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 27px 0;
        text-align: center;
        text-transform: uppercase;
        color: $brandColorWhite;
        font-weight: 700;
        background-color: $aboutusHeroBackground;
    }
}

/* ---------- RESPONSIVE DESKTOP ---------- */

@media screen and (min-width: $breakpointDesktopStart) {
    .offer {
        display: block;
    }
}
