* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: $brandColorBlack;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 15px;
    justify-content: center;
}

.section {
    padding-bottom: 0;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
// .flex-column {
//     display: flex;
//     flex-direction: column;
// }
ul {
    list-style-type: none;
}

.sections-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 60px;
}

@media (width >= 768px) {
    .container {
        max-width: 768px;
    }
}

@media (width >= 1200px) {
    .container {
        max-width: 1200px;
    }

    .section {
        padding: 94px 0;
    }
}
