$brandColorBlack: #212121;
$brandColorGrey: #757575;
$brandColorLightgrey: #f5f4fa;
$brandColorWhite: #fff;
$brandColorBlue: #2196f3;
$brandColorTransparent: #2196f3e5;
$brandColorDark: #2f303a;
$brandColorWhiteTransparent: #ffffff99;
$brandColorDarkTransparent: #2f303a66;
$aboutusHeroBackground: #2f303acc;
$brandColorGreyIcon: #afb1b8;
$iconsInactive: #afb1b8;
$footerSocialIconBg: rgba(255, 255, 255, 0.1);

$borderRadiusDefault: 4px;

$transitionSet: 250ms cubic-bezier(0.4, 0, 0.2, 1);
